ul,body {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main-container{
  display: flex;
  position: relative;
  justify-content:  space-between;
  width: calc(100% - 60%);
  height: 40px;
  padding: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.main-value{
  width: calc(100% - 50px);
  height: 100%;
  cursor: pointer;
  font-family: Roboto, 'sans-serif';
}
.main-value-box{
    display: flex;
    border: 0px;
    align-items: center;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    width: 100%;
    height: 95%;
    font-size: 22px;
}


.main-arrow-button{
  display: flex;
  position: relative;
  height: 100%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.main-items-container{
  max-height: 200px;
  position: fixed ;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
}

.main-list-item{
  display: flex;
  align-items: center; 
  margin: 0.2rem 0;
  padding: 0 1rem;
  font-family: Roboto, 'sans-serif';
  font-size: 20px;
  cursor: pointer;
}

.main-list-item:hover{
  background-color: #e9e9e9;
}


.main-container-wrapper{
  width:100vw;
  height: 100vh;
  position: fixed;
}
