h3 {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin: 0.3rem;
}

p {
  text-align: justify;
  font-family: 'Trebuchet MS';
  font-weight: 500;
  font-size: 18px;
  margin: 0.7rem 0;
}

  .view-root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8rem;
}

.view-container {
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); 
}

.view-container-title {
  display: flex;
  margin: 1rem;
  justify-content:  space-between;
}

.view-title {
  flex-grow:3;
  justify-self: center;
  align-items: center;
}

.view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.view-avatar-div {
  display: flex;
  float: left;
  justify-self: center;
  align-items: center;
  width:  320px;
  height: 420px;
  padding: 5px;
  margin: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-size: cover;
}

.view-avatar {
  width:  320px;
  justify-self: center;
  align-self: center;
  object-fit: contain;
}

.view-text {
  display: flex;
  position: relative;
  flex-direction: column;
  
  margin: 0.1rem 0.5rem;
}

.view-stars {
  display: flex;
  align-self: flex-start;
  margin: 0.5rem 0;
}

.view-authors {
  position: relative;
  align-self: flex-start;
  margin: 0.4rem 0;
}

.view-categories {
  position: relative;
  align-self: flex-start;
  margin: 0.4rem 0;
}

.view-publication-date {
  position: relative;
  align-self: flex-start;
  margin: 0.5rem 0;
}

.view-description {
  display: block;
  align-self: flex-start;
  margin: 0.5rem;
}