h3 {
  text-align: left;
  font-size: 24px;
  margin: 0.3rem;
}
a{
  text-decoration: none;
  color: #3f51b5
}
a:visited {color: #3f51b5 }
a:active { color: #3f51b5}

p {
  text-align: justify;
  font-size: 16px;
  margin: 0.3rem;
}

.search-result-root{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;
}

.search-result-container {
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); 
}

.search-result-row {
  display: flex;
  position: relative;
  margin: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}

.search-result-avatar-div {
  display: flex;
  width:  130px;
  height: 80%;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin: 0.3rem;
  background-size: cover;
}
.search-result-avatar {
  height: 80%;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.search-result-txt-conteiner {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content:space-between;
  margin: 0.5rem;
  
}

.search-result-action-button {
  display: flex;
  flex-flow: column;
  align-self: flex-end;
}

.search-result-stars {
  display: flex;
  align-content: center;
  justify-content: center;
}

.search-result-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 8px 16px;
  font-size: 0.875rem;
  text-transform: uppercase;    
  cursor: pointer;
}

.search-result-buttons:hover {
  background-color: cornflowerblue
}











